<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
<section style="display:flex; justify-content: center; margin-top: 20px">
    <form action="" method="post">
        <h1 style="text-align: center">Login</h1>

        <div class="inputbox">

            <label for="username">username</label>
            <input name="username" id="username"type="name" required>
        </div>
        <div class="inputbox">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" required>

        </div>
        <div class="register">
            <p><a href="#">Forget Password ?</a></p>
        </div>
        <button>Log in</button>
        <div class="register">
            <p>Don't have a account ?<a href=""> Register!!</a></p>
        </div>
    </form>
</section>
</body>
</html>